services:
  api:
    build:
      context: .
      dockerfile: Dockerfile
    env_file: .env
    environment:
      DB_HOST: db
      DB_PORT: 5432
      PORT: ${PORT}
      CHOKIDAR_USEPOLLING: "true"
    depends_on:
      db:
        condition: service_healthy
    ports:
      - "${PORT}:${PORT}"
    volumes:
      - .:/usr/src/app
    command: npm run start:dev

  db:
    image: postgres:16
    container_name: consultafacil-db
    restart: unless-stopped
    env_file: .env
    environment:
      POSTGRES_USER: ${DB_USERNAME}
      POSTGRES_PASSWORD: ${DB_PASSWORD}
      POSTGRES_DB: ${DB_NAME}
    ports:
      - '5499:5432'
    volumes:
      - postgres_data:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U ${DB_USERNAME} -d ${DB_NAME} -h localhost -p 5432"]
      interval: 5s
      timeout: 3s
      retries: 10

  pgadmin:
    image: dpage/pgadmin4
    restart: unless-stopped
    environment:
      PGADMIN_DEFAULT_EMAIL: ${PGADMIN_EMAIL:-admin@admin.com}
      PGADMIN_DEFAULT_PASSWORD: ${PGADMIN_PASSWORD:-admin}
    ports:
      - "5051:80"
    depends_on:
      - db
    volumes:
      - pgadmin_data:/var/lib/pgadmin

volumes:
  postgres_data:
  pgadmin_data:
